.comparison
  margin: 35px auto 50px
  padding: 45px 30px
  background-color: white
  border-radius: 10px
  box-shadow: 0 15px 20px -10px rgba(0, 0, 0, 0.15)

  &__header
    border-bottom: 1px solid $c-dark-gray
    padding-bottom: 25px

  &__column-first
    min-width: 300px
    width: 300px
    margin-right: 20px

  &__column
    width: 50%
    padding-left: 40px

  &__row
    display: flex
    align-items: baseline

    &--header
      align-items: unset

  &__product-row
    display: flex
    width: 100%

  &__feature
    padding-top: 20px

  &__feature-title
    font-weight: 500
    font-size: 20px
    line-height: 24px
    padding: 20px 60px 25px 0

  &__feature-subtitle
    font-size: 14px
    line-height: 17px
    font-weight: 500
    color: $c-dark-gray
    padding: 13px 60px 13px 0

  &__feature-text
    font-size: 14px
    line-height: 17px
    width: 405px

    & + &
      margin-left: 180px

  &__feature-bonus
    font-size: 12px
    font-weight: 700
    padding: 5px
    border: 2px solid $c-light-gray
    border-radius: 5px
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.01)

  &__buttons-row
    display: flex
    justify-content: center
    padding: 10px 0 20px

    .button + .button
      margin-left: 30px

  &__description
    width: 1100px
    margin: 40px auto 20px
    font-size: 20px
    font-weight: 600
    line-height: 24px
    text-align: center
