@font-face {
  font-family: 'Montserrat';
  src: url("../fonts/Montserrat-Regular.woff") format("woff"), url("../fonts/Montserrat-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url("../fonts/Montserrat-Medium.woff") format("woff"), url("../fonts/Montserrat-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url("../fonts/Montserrat-SemiBold.woff") format("woff"), url("../fonts/Montserrat-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

* {
  margin: 0;
  border: 0;
  padding: 0;
  box-sizing: border-box;
}

*:focus {
  outline: none;
}

input {
  -webkit-appearance: none;
}

a {
  color: inherit;
  text-decoration: none;
}

body {
  font-size: 16px;
  line-height: 1;
  background-color: #F6F6F6;
  font-family: "Montserrat", sans-serif;
}

img {
  max-height: 100%;
  max-width: 100%;
}

.comparison {
  margin: 35px auto 50px;
  padding: 45px 30px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 15px 20px rgba(0, 0, 0, 0.15);
}

.comparison__header {
  display: flex;
  border-bottom: 1px solid #9a9a9a;
  padding-bottom: 25px;
}

.comparison__header-product-row {
  display: flex;
}

.comparison-radio-label {
  display: inline-block;
  position: relative;
  cursor: pointer;
  margin-bottom: 5px;
  padding: 10px 0 10px 35px;
}

.comparison-radio-label::before {
  content: "";
  position: absolute;
  left: 0;
  top: 6px;
  display: inline-block;
  width: 16px;
  height: 16px;
  background-color: #EEF8F9;
  border: 2px solid #4BB1BC;
  border-radius: 20px;
}

.comparison-radio:checked + .comparison-radio-label::after {
  content: "";
  position: absolute;
  left: 4px;
  top: 10px;
  display: inline-block;
  width: 12px;
  height: 12px;
  border-radius: 20px;
  background-color: #4BB1BC;
}

.comparison__select-wrapper {
  width: 250px;
  padding: 15px 20px 15px 20px;
  margin-bottom: 20px;
  border-radius: 10px;
  font-size: 14px;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1) inset;
}

.comparison__select-category {
  width: 210px;
}

.comparison__prompt {
  display: inline-block;
  height: 20px;
  width: 20px;
  padding: 3px 5px;
  background-color: #F6F6F6;
  border-radius: 20px;
}

.comparison__prompt svg {
  height: 10px;
  width: 10px;
}

.comparison__feature-column {
  max-width: 300px;
  margin-right: 100px;
}

.comparison__feature-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  margin: 40px 0;
}

.comparison__feature-subtitle {
  font-size: 14px;
  line-height: 17px;
  font-weight: 500;
  color: #9a9a9a;
  margin: 25px 0;
}

.subheader {
  background-color: white;
}

.subheader__breadscrums {
  padding: 35px 0 20px;
  font-size: 14px;
  color: #9a9a9a;
}

.subheader__name {
  padding: 15px 0 30px;
  font-size: 32px;
  font-weight: 600;
}

.product-card {
  display: flex;
  position: relative;
  width: 405px;
  padding: 25px 0 0 0;
}

.product-card + .product-card {
  margin-left: 180px;
}

.product-card__image {
  flex-shrink: 0;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 120px;
  height: 150px;
  margin-right: 25px;
}

.product-card__category {
  display: block;
  margin-bottom: 20px;
  font-size: 14px;
  color: #9a9a9a;
}

.product-card__title {
  display: block;
  margin-bottom: 20px;
  font-weight: 500;
  font-size: 16px;
}

.product-card__price-row {
  vertical-align: middle;
  margin-bottom: 15px;
}

.product-card__price-now {
  font-weight: 600;
  font-size: 20px;
  margin-right: 10px;
}

.product-card__price-old {
  font-size: 14px;
  color: #9a9a9a;
  text-decoration: line-through;
}

.product-card__add-btn {
  padding: 10px 20px;
  border-radius: 10px;
  margin-right: 10px;
}

.product-card__buy-btn {
  font-size: 12px;
}

.product-card__buy-btn svg {
  vertical-align: middle;
  height: 15px;
  width: 15px;
}

.product-card__delete-btn {
  position: absolute;
  top: 0;
  right: 0;
  width: 17px;
  height: 17px;
  border-radius: 25px;
}

.product-card__delete-btn svg {
  position: absolute;
  top: 4px;
  left: 4px;
  height: 10px;
  width: 10px;
}

.container {
  max-width: 1520px;
  margin: 0 auto;
}

.button {
  cursor: pointer;
  -webkit-user-select: none;
      -ms-user-select: none;
          user-select: none;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  line-height: 17px;
  color: white;
  background-color: black;
}

.button--transparent {
  background-color: unset;
  color: black;
}
