<div class="product-card">
  <div class="product-card__image" style="background-image: url('@@image');">
  </div>
  <div>
    <a href="product.html" class="product-card__category">
      @@category
    </a>
    <a href="product.html" class="product-card__title">
      @@title
    </a>
    <div class="product-card__price-row">
      <span class="product-card__price-now">
        @@price-now
      </span>
      <span class="product-card__price-old">
        @@price-old
      </span>
    </div>
    <div class="product-card__buttons-row">
      <button class="button product-card__add-btn js-add-to-cart">В корзину</button>
      <button class="button button--transparent product-card__buy-btn js-product-buy">
        <svg>
          <use xlink:href="images/sprite.svg#phone"></use>
        </svg>
        Купить в 1 клик
      </button>
      <button class="button product-card__delete-btn js-product-delete">
        <svg>
          <use xlink:href="images/sprite.svg#close"></use>
        </svg>
      </button>
    </div>
  </div>
</div>
